.DriveShortcuts {
	display: flex;
	flex-direction: column;
}

button {
	cursor: pointer;
}

.Blinds {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	padding-top: 1em;
	margin-bottom: 0.2em;

	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;

	width: -moz-available;

	svg {
		position: absolute;
		width: 1.2em;
		fill: #485d6c;
	}
}

.BlindsTab {
	width: 100%;
	height: 6px;
	background: #485d6c;
	border-radius: 1px;
}

.Shortcuts {
	height: 130px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: 250ms height ease-in-out;

	& :nth-child(1) {
		transition: 250ms transform 50ms ease-in;
	}

	& :nth-child(2) {
		transition: 250ms transform 50ms ease-in;
	}

	& :nth-child(3) {
		transition: 250ms transform 50ms ease-in;
	}

	& :nth-child(4) {
		transition: 250ms transform 50ms ease-in;
	}
}

.Shortcuts[hide="true"] {
	height: 0;

	& .ShortcutEntry {
		transform: translateY(-30px);
	}
}

.ShortcutEntry {
	display: flex;
	transform: translateY(0px);
	height: max-content;
}

.ShortcutButton {
	display: flex;
	flex-direction: row;
	align-items: center;

	background: none;
	border: none;

	width: 100%;
	margin-top: 0.5em;

	&>svg {
		width: 1.6em;
		fill: #485d6c;
	}

	&:hover {
		background: #89a6b236;
		border-radius: 3px;
		padding: 1px;
	}
}

.ShortcutTitle {
	margin-left: 0.5em;
	align-self: end;

	color: #485d6c;
	font-weight: 600;
	font-size: 10pt;
	font-family: carlito;

}
