.FileTree {
	overflow: auto;
	padding-bottom: 20px;
	margin-bottom: 54px;

	span,
	div {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}


.Dir {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
}

.DirEntries {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.DirEntries[show="false"] {
	display: none;
}

.File {}

.File,
.DirName {
	text-align: start;
	background: none;
	border: none;
	align-self: start;
	width: 100%;

	&:hover {
		background: #89a6b236;
		border-radius: 3px;
		padding: 3px;
	}
}
