.Matrix {}

.Columns {
	width: 100%;
	background: none;
	border: none;
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: start;
	text-align: center;
	padding: 8px;
	font-weight: bold;
	color: #485D6C;

	&>* {
		cursor: pointer;
	}
}
