.WindowMenu {
	display: flex;
	flex-direction: column;

	position: absolute;
	background: #485D6C;
	color: aliceblue;
	padding: 8px;
	border-radius: 3px;
	border: none;

	justify-content: center;
	align-items: start;

	width: 134px;
	height: max-content;

	&>button {
		background: none;
		border: none;
		color: aliceblue;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover {
			background: #89a6b236;
			padding: 2px;
		}
	}
}

.WindowMenu[hide="true"] {
	display: none;
}
